<h1>Travelling Salesman Problem Solver (Greedy Method)</h1>
<p>The function of this application is to find the shortest path given certain nodes.
<br>Please insert the numbers in the following format.
<br>number of nodes 
<br>x-coordinate y-coordinate
<br>example: 
<br>5
<br>6 1
<br>2 3
<br>-5 -4
<br>-1 6
<br>0 -1
</p>

<form action="/output">
  <div class="form-group">
    <label for="length">Amount of coordinates</label>
    <input id="l" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Coordinates "x-axis" "space" "y-axis"</label>
    <textarea id="w" name="width" class="form-control" rows = "10" cols = "70"></textarea>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>